p {
    color:darkblue;
    font-size: 18px; 
    font-family:Arial, Helvetica, sans-serif;
}

strong {
    font-size: 25px;
    color: blue;
}

img {
    border-radius: 30px;
}

ol {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;

}

h2 {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;

}

h3 {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;

}

h4 {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;

}

body {
    background-color:beige;
    padding: 0 100px;
}